.image-container img {
  height: 47vh;
  margin: 1rem;
  margin-top: 3rem;
}

.portfolio-images img:hover {
  box-shadow: 0 0px 20px rgba(137, 137, 228, 0.606);
  transform: rotate(2.5deg);
  transition: all 0.2s ease-out;
}

.image-container h2 {
  font-size: 1.5rem;
  margin-bottom: 0rem;
  padding: 0;
  margin-left: 1.2rem;
}

.image-container p {
  color: #938ac8;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  margin-left: 1.2rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.portfolio-images {
  justify-content: center;
  width: 94%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
}

@media (max-width: 600px) {
  .image-container img {
    height: auto;
    width: 90%;
  }
}

@media (max-width: 600px) {
  .image-container img {
    margin-top: 1.5rem;
  }
}
